{% extends "loginbase.html" %}

{% block content %}
    <h1>Login</h1>
	{% if msg %}
      <div id="loginmsg">
	 
		{{ msg }}
	 
	  </div>
    {% endif %}
		
		<form action="login" method="POST">
			
			Email:<br>
			<input type="text" name="email" /><br><br>
			
			Password:<br>
			<input type="password" name="password" /><br><br>
			
			
			<input type="submit" value="Login"/>
			
		</form>
		<br><br>
		<a target="_blank" href="https://github.com/smokedsalmonbagel/flaskTemplate">View on Github</a>
{% endblock %}